@import "tailwindcss";

body {
  font-family: 'Inter', sans-serif;
  background-color: #050505;
  color: #ffffff;
  overflow: hidden;
  overscroll-behavior: none;
}

h1, h2, h3, .brand-font {
  font-family: 'Space Grotesk', sans-serif;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #111;
}

::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
